@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    line-height: 22px;
    font-family:'PT Sans', sans-serif; 
    font-size: 14px;  

}
.open{
    display: flex !important;
}
/*приземлення футера*/
html,body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.document_main{
    flex-grow: 1;
}
/* хедер ліво*/
.document_header{
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;

}
.document_header_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    padding: 10px 0;
}
.header_logo_block{
    display: flex;
    align-items: center;
    width: 275px;
}
.header_logo_block img{
    height: 100px;
    width: 100px;
    padding: 10px;
}
.header_logo_block_text{
    margin-left: 10px;
}
.header_logo_block_text h1{
    font-size: 22px;
}
/*хедер право*/
.header_contacts_block{
    text-align: right;
}
.header_contacts_block ul{
    list-style-type: none; 
    font-weight: 1000; 
}
.header_contacts_block li{
    font-size: 22px;
}
.header_contacts_block p{
    text-decoration:underline dotted 2px ;
}


/*футер */
.document_footer{
    background-color:#777777 ;
    height: 100px;
}


/* адаптив*/
@media screen and (max-width:800px) {
    /*хедер*/
    .document_header_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}